/todo/node_modules
/todo/public/hot
/todo/public/storage
/todo/storage/*.key
/todo/vendor
/.idea
/.vagrant
/todo/Homestead.json
/todo/Homestead.yaml
/todo/npm-debug.log
/todo/yarn-error.log
/todo/.env
